.custom-table-header, .custom-table-row {
    display: grid;
    grid-template-columns: 45px 45px  repeat(auto-fit, minmax(100px, 1fr)) 100px;
    position: relative;
    cursor: pointer;
}

.custom-table-actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.custom-table-actions .custom-table-action-button {
    cursor: pointer;
    max-width: fit-content;
}

.custom-table-row {
    border-bottom: 1px solid var(--border);
    padding: 1rem 0.5rem;
}

.custom-table-header {
    font-weight: 600;
    background-color: var(--secondary-light);
    padding: 1rem 0.5rem;
}

.hide-desktop {
    display: none;
}

.row.selected {
    background-color: var(--primary-light);
}

.select-all-cell, .select-cell {
    width: 45px;
    max-width: 45px;
}

.custom-table-header-cell > :last-child, .custom-table-row >:last-child {
    justify-content: end;
    text-align: end;
}

.cell {
    padding-inline: 0 5px;
}
/* @media screen and (max-width: 948px) and (min-width: 781px) {
    .custom-table-header, .custom-table-row {
        grid-template-columns: 40px repeat(auto-fit, minmax(120px, 1fr));
    }
} */

@media screen and (max-width: 1080px) {
    /* hide all columns */
    .custom-table-cell, .custom-table-header-cell {
        display: none;

    }

    /* show 1, 2 children and second to last and last children */
    .custom-table-row, .custom-table-header {
        /* display: contents; */

        >:nth-child(1),
        >:nth-child(2),
        >:nth-last-child(2),
        >:last-child {
                display: flex;
        }
    }

    /* case selectable */
    .selectable .custom-table-row, .selectable .custom-table-header {
        >:nth-child(2),
        >:nth-child(3),
        >:nth-last-child(3),
        >:last-child {
            display: flex;
        }
    }
}



@media screen and (max-width: 768px) {
    /* hide all columns */
    .custom-table-cell, .custom-table-header-cell {
        display: none !important;
    }

    /* show first and last children */
    .custom-table-row, .custom-table-header {
        >:first-child,
        >:last-child {
            display: flex !important;
        }
    }
    
    /* case selectable */
    .selectable .custom-table-row, .selectable .custom-table-header {
        >:nth-child(3),
        >:last-child {
            display: flex !important;
        }
    }


    .custom-table-row, .custom-table-header {
        grid-template-columns: 45px 1fr 1fr ;
    }
}

@media screen and (max-width: 480px) {
    
    .hide-desktop {
        display: inline-block
        
    }
    .custom-table-row, .custom-table-header {
        grid-template-columns: 1fr !important;
        gap: 0.5rem;

        span {
            font-weight: bold;
        }
    }

    /* hide header */
    .custom-table-header {
        display: none !important;
    }
    /* hide all columns */

    .custom-table-cell, .custom-table-header-cell {
        display: flex !important;
    }

    .select-cell {
        position: absolute;
        right: 0;
        top: 12px;
    }

}