table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: whitesmoke;
}

table th {
    padding: 12px;
    text-align: start;
    color: gray;
    text-wrap: nowrap;
}

table .sort-cell {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.8rem;
}

table td {
    padding: 12px;
    text-align: start;
    text-wrap: nowrap;
}

table .tag {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

table .tag .tag-data {
    background-color: #fee5da;
    color: #f87c47;
    padding: 4px;
    border-radius: var(--base-border-radius);
}

table .table-data-list {
    display: flex;
    align-items: center;
    gap: 1rem;
}

table tr {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
}

table tr .table-actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
}

table tbody tr:hover {
    background-color: #ffece3;
}

table .action-col {
    cursor: pointer;
    text-align: end;
    position: relative;
}

table .action-col .actions {
    position: absolute;
    padding: 32px;
    right: 0;
    bottom: 0;
    display: grid;
    gap: 16px;
    background-color: whitesmoke;
    border-radius: var(--base-border-radius);
    z-index: 2;
    background: #ffffff;
    box-shadow: 8px 8px 36px 2px rgba(0, 0, 0, 0.25);
    border-radius: var(--base-border-radius);
}

table .action-col .actions .action {
    display: flex;
    align-items: center;
    gap: 12px;
    text-wrap: nowrap;
    font-weight: bold;
}