.facility-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-light);
  // width: fit-content;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: var(--base-border-radius);

  .facility {
    color: gray;
  }
}

.witness-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  .witness {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background-color: var(--primary-light);
    padding: 0.5rem 1rem;
    border-radius: var(--base-border-radius);
    border: 1px solid var(--border);

    .delete-witness {
      cursor: pointer;
    }
  }
}