@import "../styles/variables";

.forms-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;

  .form-steps {
    display: flex;
    align-items: start;
    gap: 24px;
    height: fit-content;
    border: 1px solid #f1f1f1;
    padding: 14px 12px;
    border-radius: 12px;

    .step {
      display: flex;
      align-items: start;
      gap: 6px;

      .icon {
        color: gray;
        font-size: 22px;
      }

      .step-details {
        display: none;
      }
    }

    .current-step {
      .step-details {
        display: block;
      }

      .icon {
        color: $secondary-color;
      }
    }
  }

  .newIncidentForm {
    .radio {
      display: flex;
    }
  }

  .form-buttons {
    height: 48px;
    // justify-self: end;
    flex: 1;
    background-color: white;
  }
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #0000006b;

  .popup-content {
    max-width: 650px;
    width: 100%;
    height: fit-content;
    max-height: 90vh;

    overflow: auto;
    padding-bottom: 0;
    position: relative;
    animation: openPopup 0.3s forwards;
    border-left: 1px solid #eaeaea;
    border-radius: 0.8rem;

    .close {
      animation: closePopup 0.3s forwards;
    }

    .close-popup {
      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 999;

      i {
        font-size: 32px;
      }
    }
  }

  @keyframes openPopup {
    0% {
      transform: translateX(700px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes closePopup {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(700px);
    }
  }
}

.facility-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: lighten($color: $primary-color, $amount: 60);
  // width: fit-content;
  padding: 1rem;
  border: 1px solid lighten($color: $primary-color, $amount: 30);
  border-radius: 0.8rem;

  .facility {
    color: gray;
  }
}
