.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #0000006b;

  .popup-content {
    max-width: 650px;
    width: 100%;
    height: fit-content;
    max-height: 90vh;
    overflow: auto;
    padding-bottom: 0;
    position: relative;
    animation: openPopup 0.3s forwards;
    border-left: 1px solid #eaeaea;
    border-radius: var(--base-border-radius);

    .close {
      animation: closePopup 0.3s forwards;
    }

    .close-popup {
      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 999;

      i {
        font-size: 32px;
      }
    }
  }

  @keyframes openPopup {
    0% {
      transform: translateX(700px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes closePopup {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(700px);
    }
  }
}
