.facilities-list,
.departments-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  .department-item:nth-child(odd) {
    background-color: #fffbfb;
  }

  .department-item:nth-child(even) {
    background-color: #FCFCFC;
  }

  .date {
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 400;
  }

  .facility-item,
  .department-item {
    border: 1px solid #ddd;
    padding: 2rem;
    border-radius: var(--base-border-radius);
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    .department-title {
      font-size: 16px;
      font-weight: 600;
    }

    .department-icon {
      background-color: #fff0e8;
      width: 3rem;
      height: 3rem;
      padding: 8px;
      border-radius: var(--base-border-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f87c47;
    }

    .facility-title {
      color: var(--primary);
    }

    .icon {
      width: 3rem;
      height: 3rem;
      padding: 8px;
      border-radius: var(--base-border-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary);
      background-color: var(--primary-light);
    }

    small {
      color: gray;
    }
  }


}

.departments {
  background-color: var(--background);
  padding: 24px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .departments-titles {
    display: flex;
    justify-content: space-between;

    .first-col {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h3 {
        font-size: 20px;
      }

      p {
        font-weight: 400;
        font-size: 18px;
      }
    }

    .second-col {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.tabs-list {
  display: flex;
  border: 1px solid whitesmoke;
  padding: 0.5rem;
  border-radius: var(--base-border-radius);
  width: fit-content;

  .tab {
    cursor: pointer;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgb(96, 96, 96);
    border-radius: var(--base-border-radius);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-wrap: nowrap;
  }

  .active {
    background-color: var(--secondary-light);
    color: var(--secondary);
  }
}

.reports-list {
  .reports-categories {
    display: grid;
    height: fit-content;
    gap: 2rem;
  }
}

.reports-card {
  .no-data-found {
    border-radius: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .filters_popup {
    h3 {
      color: black;
    }
  }
}

.reports-card,
.content-card {
  border: 1px solid var(--primary-light);
  border-radius: var(--base-border-radius);

  .status {
    padding: 1rem;
  }

  .update-follow-up {
    max-width: 100px;
    width: 100%;
    padding-inline: 1.5rem;
    display: inline-block;
  }

  .card-header {
    background-color: var(--primary);
    padding: 1rem;
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    .option-hover:hover {
      color: white;
      cursor: pointer;
    }

    .option-header {
      color: black !important;
    }

    .date-filter-button {
      border: 1px solid white;
      cursor: pointer;
      padding: 10px;
      padding-block: 5px;
    }

    .system-search-container {
      position: relative;
      display: flex;
      align-items: center;
      max-width: 500px;
      width: 100%;

      .search-icon {
        position: absolute;
        margin-left: 20px;
        color: rgb(224, 224, 224);
      }

      #systemSearch {
        width: 100%;
        background-color: #4678a7;
        padding-left: 50px;
        border: none;
        color: rgb(224, 224, 224);
        padding-block: 10px;

        &::placeholder {
          color: rgb(224, 224, 224);
        }
      }
    }
  }
}

.department-lists-container {
  display: grid;
  gap: 1rem;
  height: fit-content;

  button {
    width: fit-content;
  }
}

.department-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-items {
    display: flex;
    align-items: center;
    gap: 1rem;

    .name {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .icon {
        height: 3rem;
        width: 3rem;
        border-radius: var(--base-border-radius);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary);
        background-color: var(--secondary-light);
      }
    }

    .numbers {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .number {
        max-width: 160px;
        background-color: whitesmoke;
        padding: 0.5rem 2rem;
        border-radius: var(--base-border-radius);

        small {
          text-wrap: nowrap;
        }
      }
    }
  }
}

.facility-department-details-header {
  background-color: #fff;
  padding: 24px;
  border-radius: var(--base-border-radius);

  .facility-department-details-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .col-1 {
      display: flex;
      align-items: center;
      gap: 14px;

      .icon-container {
        background-color: #FFF0E8;
        padding: 20px;
        border-radius: var(--base-border-radius);
      }

      .facility-title {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .facility-name {
          font-size: 18px;
        }

        .date-created {
          color: #BBBBBB;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }

    .col-2 {
      display: flex;
      gap: 16px;

      .staff-card,
      .complaints-card {
        background-color: #f9f9f9;
        padding: 8px 16px;
        width: 150px;
        max-width: 150px;
        border-radius: var(--base-border-radius);
        display: flex;
        flex-direction: column;
        gap: 8px;

        .staff-card-title,
        .complaints-card-title {
          color: #8D8D8D;
        }

        .staff-card-desc,
        .complaints-card-desc {
          font-size: 18px;
          font-weight: bold;
        }
      }

      .staff-members-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .staff-members-names {
          display: flex;
          align-items: center;

          .staff-member-name-card {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -5px;


            .member-name {
              font-weight: bold;
              text-align: center;
            }
          }

          .staff-member-name-card:nth-child(odd) {
            background-color: #eff7fe;
            color: #145c9e;
          }

          .staff-member-name-card:nth-child(even) {
            background-color: #fdf0ea;
            color: #f87c47;
          }
        }
      }
    }

    .col-3 {
      .header {
        cursor: pointer;
      }

      .actions-list {
        .action {
          cursor: pointer;
        }
      }
    }
  }
}

.staff-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .staff-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


}

@media screen and (max-width: 960px) {
  .facilities-list {
    grid-template-columns: 1fr 1fr;
  }

  .tabs-list {
    overflow: auto;
    max-width: 83vw;
  }

  .department-details-header {
    align-items: baseline;

    .header-items {
      flex-direction: column;
      align-items: start;
    }
  }
}

// delete department popup
.popup {
  .popup-content {
    .delete-department-buttons {
      display: flex;
      gap: 24px;

      button {
        width: 100%;
      }

      .cancel-delete-btn {
        background-color: #F2F2F2;
        color: #808080;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .facilities-list {
    grid-template-columns: 1fr;
  }
}