.actions {
  justify-content: space-between;

  .search-filter {
    width: 40%;
  }
}

.table-container {
  padding-top: 30px;

  .review-groups-table td:nth-child(3) {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mobile-users {
  display: none;
  max-height: 80vh;
  overflow: auto;
  gap: 1rem;

  .user-card {
    padding: 1rem;
    border-radius: var(--base-border-radius);
    background-color: whitesmoke;
    display: grid;
    height: fit-content;
    gap: 0.5rem;
  }
}

.group-details-top-content {
  .group-details-title {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.review-group-details-container {
  background-color: var(--background);
  padding: 24px;
  border-radius: var(--base-border-radius);
  display: flex;
  flex-direction: column;
  gap: 12px;

  .review-group-details-contents {
    display: flex;
    justify-content: space-between;

    .row {
      display: flex;
      align-items: center;
      gap: 48px;

      .col {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .review-title {
          font-size: 18px;
          font-weight: 700;
        }

        .review-date {
          color: #8d8d8d;
          font-weight: 400;
        }

        .review-created,
        .review-update {
          color: #8d8d8d;
          font-weight: 400;
        }

        .review-created-by-name {
          font-size: 16px;
        }
      }
    }

    .action-btn {
      .actions-list {
        .action {
          cursor: pointer;
        }
      }
    }
  }

  .review-group-description {
    p {
      color: #777777;
      font-size: 16px;
    }
  }
}

.table-actions {
  position: relative;

  .actions-popup {
    background-color: orange;
    position: absolute;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 2px;

    >div {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.review-templates-btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

// delete review group
.popup {
  .popup-content {
    .delete-error-message {
      background-color: #fbede7;
      color: #f87c47;
      border-radius: var(--base-border-radius);
      padding: 16px;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .delete-review-group-buttons {
      display: flex;
      gap: 24px;

      button {
        width: 100%;
      }

      .cancel-delete-btn {
        background-color: #f2f2f2;
        color: #808080;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .actions {
    flex-direction: column;
    align-items: flex-start;

    .filters {
      width: 100%;
    }
  }
}